@{
    var headers = new List<string> { "Имя", "Количество","Секция" };
    ViewData["Title"] = "Order View page";
    int id = Model.Order.Id;
}
<h1>@ViewData["Title"]</h1>
@model EditCreatePageModel
@using HtmlHelper
@using Microsoft.AspNetCore.Html

<div class="td">
    <div>
        <label>Номер</label>
        <input asp-for=Order.Number  type="text" disabled="disabled"/>
    </div>

     <div>
        <label>Дата</label>
        <input asp-for=Order.Date  type="text" disabled="disabled"/>
    </div>
    <div>
        <label>Провайдер</label>
        <input asp-for=Order.ProviderId  type="text" disabled="disabled"/>
    </div>
</div>
<span asp-validation-for="Order"></span>
@using(Html.BeginForm("ProcessFormOrderView", "OrdersManager", FormMethod.Post))
{
    @Html.HiddenFor(m => id)
    <p><input name="DeleteOrder" type="submit" value="Удалить заказ" class="delete-button"/></p>
           
    <p><input name="EditOrder" type="submit" value="Редактировать заказ" class="add-button"/></p>
}

@ListHelper.TableOrderItems(Html, Model.OrderItems, headers) 
